export RESOURCE_GROUP=<UPDATE HERE>
export CONTAINERAPPS_NAME=<UPDATE HERE>
export ENVIRONMENT_NAME=<UPDATE HERE>

export REGISTRY_USER=<UPDATE HERE>
export REGISTRY_NAME=<UPDATE HERE>

export GH_PAT=<UPDATE HERE>


