export RESOURCE_GROUP=<UPDATE HERE>
export CONTAINERAPPS_NAME=<UPDATE HERE>
export ENVIRONMENT_NAME=<UPDATE HERE>

export REPOSITORY_USER=<UPDATE HERE>
export REPOSITORY_NAME=<UPDATE HERE>

export GH_PAT=<UPDATE HERE>


